img {
    vertical-align: middle;
    height: 100%;
    object-fit: cover;
}

/* Position the image container (needed to position the left and right arrows) */
.slider-container {
    position: relative;
    overflow: hidden;
}

/* Hide the images by default */
.mySlides {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    transition: 0.2s;
    text-align: center;
}


/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.slider-container .row {
    background-color: rgb(31, 31, 31);
    margin: 0;
    padding: 0.2rem;
    justify-content: center;
}

.slider-container .row .col {
    max-width: 65px;
    max-height: 65px;

    padding: 0;
    margin-right: 0.5rem;
}

.slider-container .row .col img {
    width: 100%;
}

.active {
    opacity: 1;
}

.demo:hover {
    opacity: 0.8;
}